* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body{
    background-color: black;
    min-height: 100vh;
}

.container {
    display: flex;
    text-align: center;
    align-items: baseline;
    justify-content: center;
}

area:hover, button:hover{
    cursor: pointer;
}

.lightbulb-animation{
 animation: lightbulb-animation 1s linear infinite;
}

@keyframes lightbulb-animation{
0%{
    content: url(./img/light-on-66.png);
}
20%{
    content: url(./img/light-on-33.png);
}
40%{
    content: url(./img/light-on.png);
}
60%{
    content: url(./img/light-on-33.png);
}
80%{
    content: url(./img/light-on-66.png);
}
100%{
    content: url(./img/light-on-100.png);
}
}

.passive {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.5s linear opacity 0.3s linear;
}

.colorButton_container {
    transition: visibility 0.5s linear, opacity 0.3s linear;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

button{
    padding: 20px;
    background-color: #f9e600;
    color: #707070;
    font-weight: 700;
    font-size: 20px;
    border-radius: 30px;
    border-color: #707070;
    box-shadow: 1px 1px 12px #f9e600;
    max-width: 350px;
}

.colorchange{
    background-color: #000000;
    box-shadow: 1px 1px 12px #ffffff;
    color: #ffffff;
}

.no-click{
    pointer-events: none;
}

i, b{
    color: red;
}